{% include 'header.twig' %}

{% apply html_to_markdown %}
	<p>Namespace: {{ namespace }}</p>

	<p>Summary: {{ summary }}</p>

	{% include 'parts/meta.twig' %}

	{% if constants %}
		{% include 'parts/constants.twig' with { 'constants': constants } %}
	{% endif %}

	{% if properties %}
		{% include 'parts/properties.twig' with { 'properties': properties } %}
	{% endif %}

	{% if methods %}
		{% include 'methods.twig' with { 'methods': methods } %}
	{% endif %}

	{% if hooks.filters is not empty or hooks.actions is not empty %}
		{% include 'hooks.twig' with { 'hooks': hooks } %}
	{% endif %}

	{% include 'parts/source.twig' %}

{% endapply %}
