{% include 'header.twig' %}

{% apply html_to_markdown %}
	Namespace: {{ namespace }}

	<p>Summary: {{ summary }}</p>

	{% include 'parts/meta.twig' %}

	{% if methods %}
		{% include 'methods.twig' with { 'methods': methods } %}
	{% endif %}

	{% include 'parts/source.twig' %}

{% endapply %}
